@use '../../../styles/mixins/buttons';

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.changePassengerCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incrementDecrement {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    padding: 12px;
    flex: 1;
  }
  button {
    background-color: #eaeeef;
    cursor: pointer;
    width: 36px;
    border: none;

    @include buttons.btn-opacity;
  }
}
